==================================================
BAD AND TOP SQLS AND THEIR PLANS, RECOMMENDATIONS
==================================================

==================================================
REQUIREMENT
==================================================
Find top sqls - using sql statistics
Find bad sqls - from any dynamic plan table if such a view exist
- dynamic views
- query store 

For each of those top & bad sqls, run explain plan
Flag the ones with bad plans

Print the sql
Print the sql statistics (like executions, IO, time taken etc)
Print the plan
If query store is enabled, query recommendations also from it

Parse the sql for common problems if possible and print deficiencies
- find if there is any open source or tutorial on how to detect bad syntax in sqls

==================================================
CONTAINER
==================================================
Docker image sor sqlcmd on linux: https://hub.docker.com/_/microsoft-mssql-tools

Environment variables for user/pass/host/port/db
Shell script that will use the environment variables and run the steps to satisfy the requirement
